@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

.kode-mono-font {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400, 500, 600, 700;
  font-style: normal;
}

* {
    margin: 0;
    font-family: "Kode Mono", monospace;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: solid 2px black;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 16px;
    width: 100%;
    max-width: inherit;
}

#subtitle {
    font-size: 20px;
}

h1 {
    font-size: 36px;
}

#reset-button {
    border-radius: 8px;
    padding: 2px 2px 2px 6px;
}

svg {
    transition: 1000ms;
}

svg:active {
    transform: rotate(-60deg);
    transition: 500ms;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0px 16px 64px 16px;
}

.item {
    display: flex;
    align-items: center;
    padding: 18px 0;
    gap: 16px;
}

.item-info-wrapper {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}

.item-info-wrapper > div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item-info-wrapper:first-child {
    min-width: 147px;
    width: inherit;
}

.card-name {
    font-weight: 700;
    font-size: 20px;
}

.card-value {
    background-color: #ECFF8F;
    border: solid 1px black;
    border-radius: 7px;
    width: fit-content;
    padding: 3px 10px;
}

.subtotal-wrapper {
    font-size: 14px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 3px;
}

.counter-wrapper {
    display: flex;
    align-items: center;
}

input:disabled {
    color: #000;
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border: 0px;
}

.line {
    border: solid 1px black;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 18px;
    width: 100%;
    max-width: inherit;
    background-color: #DE82FF;
    border: solid 2px black;
    font-size: 24px;
    margin-left: -1px;
}

#total {
    font-weight: 700;
}
